@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind screens;
@tailwind line-clamp;

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .snap-smooth {
    scroll-behavior: smooth;
  }
  .snap-px-4 {
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  font-variant-ligatures: none;
}

html {
  scroll-padding-top: 10rem;
  font-size: 15px;
}
html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
.header-offset {
  padding-top: 83px;
}
@font-face {
  font-family: NeuzeitBook;
  src: url('Neuzeit-S-LT-Std-Book.ttf') format('truetype');
}
@font-face {
  font-family: NeuzeitBookHeavy;
  src: url('Neuzeit-S-LT-Std-Book-Heavy.ttf') format('truetype');
}
@font-face {
  font-family: BFF;
  src: url('bff-regular-webfont.woff') format('woff'),
    url('bff-regular-webfont.otf') format('otf');
}
.sm-icon {
  width: 20px;
}
section {
  @apply pt-4 pb-4 lg:pt-4 lg:pb-4 xl:pt-5 xl:pb-5;
}
main {
  flex: 1 0 auto;
}

main.flush section:first-child,
section.flush:first-child {
  padding-top: 0;
}
model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}
.gutter {
  @apply px-4 xl:px-10 sm:px-4 md:px-6 lg:px-8;
  max-width: 1400px;
  margin: 0 auto;
}
.no-mw.gutter {
  max-width: initial;
}
.narrowest-gutter {
  max-width: 750px;
  margin: 0 auto;
}
.narrower-gutter {
  max-width: 900px;
  margin: 0 auto;
}
.narrow-gutter {
  max-width: 1200px;
  margin: 0 auto;
}

.active-tab h2 {
  border-bottom: solid 2px #E8D466;
  padding-bottom: 6px;
}
.tabs-content {
}
.tab-item-content {
  max-height: 0;
  overflow:hidden;
}
.tab-item-content.active-tab {
  max-height:800px
}
.gradient {
  background: linear-gradient(
    310deg,
    rgba(255, 97, 0, 1),
    white,
    rgba(0, 197, 185, 1)
  );
  background-size: 600% 600%;
  animation: gradient-animation 14s ease infinite;

  /* prettier-ignore */
  clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
}

@keyframes gradient-animation {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}

/* component styles */
.special-header {
  opacity: 1;
}
.special-header.disappear .logo {
  opacity: 0;
}
.special-header .alt-logo img {
  opacity: 0;
}
.special-header.disappear .alt-logo img {
  opacity: 1;
  transition: all 0.3s;
}
.special-header,
.special-header .logo,
.special-header .top-level-nav {
  transition: all 0.3s;
}
.special-header .logo {
  transform: translateY(0);
}
.nav-is-open .special-header .alt-logo img {
  opacity: 1;
  transition: opacity 0.3s;
}
.special-header.disappear .logo {
  transform: translateY(-10px);
}
.special-header.disappear .top-level-nav {
  opacity: 0;
  max-height:0;
  transition:transform 0.3s, opacity 0.3s, max-height 0s linear 0.5s;
  transform: translate(-50%, -10px);
}
.nav-is-open .special-header.disappear .top-level-nav {
  opacity: 1;
  transform: translate(-50%, 0);
}
.nav-is-open .top-level-nav {
  color: #000000;
  transition: opacity 0.3s, height 0s linear 0.3s;
  height: auto;
}
@media screen and (max-width:600px) {
  .special-header .logo {
    display:none;
  }
  .special-header .top-level-nav {
    display:none;
  }
  .special-header .alt-logo img {
    opacity:1;
  }
}
.top-level-nav {
  color: #e8d466;
  left: 50%;
  max-width: 85%;
  width:900px;
  top: 115px;
  max-height:500px;
  transform: translate(-50%, 0);
  @apply fixed;
  transition: opacity 0.3s, height 0s linear 0s;
}

.header-overlay {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s, height 0s linear 0.3s;
  z-index: -1;
}
.special-layout-initialized button  path {
  stroke: white;
}
.special-layout-initialized .special-header path {
  fill:white
}
.special-layout-initialized .special-header svg {
  margin: 0 auto;
}
.special-layout-initialized .nav-column, .special-layout-initialized span  {
  color: white;
}
/* .article-info-section { */

/*  height:25vw; */

/* } */
.top-level-nav {
  height: 0;
  overflow: hidden;
}
.special-header .top-level-nav {
  height: auto;
}
.nav-is-open .topbar-overlay {
  z-index: -1;
}
.nav-is-open .special-header .logo {
  display: none;
}

.special-header .sub-nav-item {
  visibility:hidden;
}
.nav-is-open .sub-nav-item {
  display: block;
}
.nav-is-open .header-overlay {
  display: block;
  opacity: 1;
  transition: opacity 0.3s, height 0s linear 0s;
  height: 550px;
}

/* Alphabet */
.entries {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 500ms cubic-bezier(0.175, 0.685, 0.32, 1.275);
  @apply lg:min-w-[20vw];
}

.open .entries {
  max-height: 500px;
}
.post-widget-title {
  margin-bottom:-6px;
}

/* LineSeparatedCredits */

.line-separated-credits {
  @apply pt-2 pb-2;
}

.newsletter-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::input-placeholder {
  /* Microsoft Edge */
  color: black;
}
.ImageTextPair .image-box,
.ImageTextPair .text-box {
  height: 40vw;

}
@media screen and (max-width: 767px){
  .ImageTextPair .image-box,
  .ImageTextPair .text-box {
    height: 70vw;
  }
}
.ImageTextPair {
  padding-top: 0;
  padding-bottom: 0;
}

/* Product page */
.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.open-tab .tab-content {
  max-height: 400px;
}

/* article info section */
.article-info-section {
  height:100vh;
}


  /* Animations */
.faded_out {
  opacity: 0;
  transition: opacity 0.5s;
}
.fade_in {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.slick-next {
  right:0;
}

